
/*필터 전체 */

.filter {
	margin-top : 5%;
}

/* dropdown 공통 */
.dropdown-ul{
	padding : 2%;
	list-style: none;
	display: inline-block;	
}

.dropdown-li{
	padding : 5%;
}


/*filter 1 */

/* 체크박스 버튼 숨기기 */

input[type="checkbox"] {
	margin: 5%;
	display: none;	
}

/* 선택된 체크박스 css */

.on-filter-check {
	background-color: #ccc;
}

/* 조건/지역 리스트 체크박스 item */
.sche-item {
	width : 30%;
	letter-spacing: 2px;
	padding : 2%;
	border: 1px solid #ccc;
	text-align: center;
}

.de-item {
	width : 30%;
	padding : 5%;
	border: 1px solid #ccc;
	text-align: center;
}

.ar-item {
	width : 30%;
	letter-spacing: 2px;
	padding : 3%;
	border: 1px solid #ccc;
	text-align: center;
}


.inner-tr {
	width : 90%;
	display: inline-block;
}

.inner-td {
	width: 46%;
	padding : 1%;
	margin : 0;
	display: inline-block;
	list-style: none;
}


/*filter 2*/

/* 구분 글자 여백 */

#sort {
	padding: 2%;
}

/* filter2 dropdown 메뉴 */

#dropdown-sort{
	width : 100%;
}

.second-dropdown-ul {
	list-style: none;
	text-align: left;
}

.second-dropdown-li {
	padding : 1%;
}

.filterBtn{
	margin: 1%;
	margin-left: 85%
}


